.padre{
    background-color: yellow;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.uno{
    background-color: aquamarine;
}
.dos{
    background-color: greenyellow;
}
